.about {
    border: 5px outset rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 228, 190);
    #linkedin:hover {
        color: green;
    }
}

.photos {
    border: 5px outset rgb(0, 0, 0);
    background-color: rgb(154, 191, 255);
    text-align: center;
}

.headers {
    font-size: 30px;
}

p {
    font-size: 15px;
}

